:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

.iconDiv {
  cursor: pointer;
}
.iconDiv:hover {
  background-color: rgba(255, 255, 255, 0.2);
  color: white;
}

.chooseProject {
  cursor: pointer;
  border: 1px solid rgba(255, 255, 255, 0.2);
}

.chooseProject:hover {
  border: 2px solid gray;
}

.chooseProject:hover svg {
  color: white;
}

.projectListCard:hover{
  background-color: rgba(255, 255, 255, 0.2);
}


/* width */
::-webkit-scrollbar {
  width: 6px;
  
}

/* Track */
::-webkit-scrollbar-track {
  background: #bcbcbc;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #9c9c9c;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #7c7c7c;
}



/* color picker */

#colorPicker {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: transparent;
  width: 60px;
  height: 32px;
  border: none;
  cursor: pointer;
}
#colorPicker::-webkit-color-swatch {
  border-radius: 50%;
  border: none;
}
#colorPicker::-moz-color-swatch {
  border-radius: 50%;
  border: none;
}
