:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

.iconDiv {
  cursor: pointer;
}
.iconDiv:hover {
  background-color: rgba(255, 255, 255, 0.2);
  color: white;
}

.chooseProject {
  cursor: pointer;
  border: 1px solid rgba(255, 255, 255, 0.2);
}

.chooseProject:hover {
  border: 2px solid gray;
}

.chooseProject:hover svg {
  color: white;
}
